html {
	/*--largeLabelSize: calc(4vh);*/
	--labelSize: calc(var(--largeLabelSize) * 0.75);
	--littleLabelSize: calc(var(--largeLabelSize) * 0.5);
	
	--calendarHeight: calc(92.5vh);
	--calendarWidth: calc(68.5vw);
	
	--sidebarHeight: var(--calendarHeight);
	--sidebarWidth: calc(100vw - (1.5 * var(--pageBorderHorizontal)) - var(--calendarWidth));
	
	--pageBorderVertical: calc(3.75vh);
	--pageBorderHorizontal: calc(1.5 * var(--largeLabelSize));
	--borderWidth: 2px;
	
	--textColor: #2d2d2d;
	
	--defaultEventColor: orange;
	--backgroundColor: #bfbfbf;
	--borderColor: #7f7f7f;
	
	--activeColor: white;
	--activeHighlightColor: #2d2d2d;
	
	--numDropdown: 0;
}

body {
	background: var(--backgroundColor);
	font-family: monospace;
	color: var(--textColor);
}

/* calendar styles */

#calendar {
	position: absolute;
	height: var(--calendarHeight);
	width: var(--calendarWidth);
	
	top: var(--pageBorderVertical);
	left: var(--pageBorderHorizontal);
	
	border: var(--borderWidth) solid var(--borderColor);
	border-right: none;
	
	border-top-left-radius: calc(var(--littleLabelSize) / 2);
	border-bottom-left-radius: calc(var(--littleLabelSize) / 2);
}

.vertLine {
	border-right: var(--borderWidth) solid var(--borderColor);
}

.horLine {
	border-top: var(--borderWidth) solid var(--borderColor);
}

#calendar .vertLine {
	display: inline-block;
	height: 100%;
	width: calc((var(--calendarWidth) / 8) - var(--borderWidth));
}

#calendar .vertLine:nth-of-type(8) {
	border-right: none;
}

#calendar .horLine {
	position: absolute;
	
	width: 100%;
	opacity: 0.25;
}

.dateLabel {
	text-align: center;
	font-size: var(--largeLabelSize);
	margin: calc(var(--littleLabelSize) / 2) 0px;
}

#calendar .hourLabel {
	position: absolute;
	font-size: var(--littleLabelSize);
	right: calc(var(--calendarWidth) + (var(--littleLabelSize) * 0.5));
}



.timeIndicator {
	position: absolute;
	z-index: 2;
	
	width: calc((var(--calendarWidth) / 8) - var(--borderWidth));
	
	border: var(--borderWidth) solid red;
	opacity: 0.5;
}

.calendarTime {
	position: absolute;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	
	width: calc((var(--calendarWidth) / 8) - var(--borderWidth));
}

.calendarEvent {
	flex: 1;
	height: calc((var(--calendarHeight) - 7vh) / 48);
	
	background: var(--defaultEventColor);
}

.calendarEvent.active, .calendarEvent:hover {
	border: var(--borderWidth) solid var(--activeHighlightColor);
}



/* sidebar styles */

#sidebar {
	position: absolute;
	height: var(--sidebarHeight);
	width: var(--sidebarWidth);
	
	top: var(--pageBorderVertical);
	left: calc(var(--calendarWidth) + var(--pageBorderHorizontal));
	
	display: flex;
	flex-direction: column;
	
	border: var(--borderWidth) solid var(--borderColor);
	
	border-top-right-radius: calc(var(--littleLabelSize) / 2);
	border-bottom-right-radius: calc(var(--littleLabelSize) / 2);
	
	margin-right: calc(var(--pageBorderHorizontal) / 2);
	
	overflow: clip;
}

#sidebar div {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

#sidebar > .dropdown {
	font-size: var(--labelSize);
	text-align: center;
}

#sidebar > .dropdown:not(:last-child) {
	border-bottom: var(--borderWidth) solid var(--borderColor);
}

#sidebar > .dropdown > .dropdownLabel {
	height: var(--labelSize);
	overflow-y: clip;
}

#sidebar > .dropdown > .dropdownLabel:hover {
	cursor: pointer;
	color: var(--activeColor);
	background: var(--activeHighlightColor);
}

#sidebar > .dropdown > .dropdownContent {
	display: none;
	
	border-top: var(--borderWidth) solid var(--borderColor);
	
	height: calc(var(--calendarHeight) - (var(--numDropdown) * (var(--labelSize) + var(--borderWidth))));
	overflow-y: scroll;
	overflow-x: clip;
}

#sidebar > .dropdown.expanded {
	flex: 1;
}

#sidebar > .dropdown.expanded > .dropdownContent {
	display: block;
}

input[type="color"] {
	height: var(--largeLabelSize);
	width: var(--largeLabelSize);
	
	padding: 0px;
	
	border: var(--borderWidth) solid var(--borderColor);
}

#sidebar > .dropdown > .streamTimes > .streamTime {
	text-align: left;
	display: flex;
	flex-direction: row;
	
	font-size: var(--littleLabelSize);
}

#sidebar > .dropdown > .streamTimes > .streamTime:not(:last-child) {
	border-bottom: var(--borderWidth) solid var(--borderColor);
}

.streamTime:hover {
	cursor: pointer;
	color: var(--activeColor);
	background: var(--activeHighlightColor);
}

.streamTime.active {
	cursor: pointer;
	color: var(--activeColor);
	background: var(--activeHighlightColor);
}

.streamTime > .streamDate {
	text-align: center;
	
	margin: calc(var(--littleLabelSize) / 2);
}

.streamTime > .streamText {
	margin: calc(var(--littleLabelSize) / 2);
}

.streamDate > .streamDay {
	font-size: var(--labelSize);
}

.streamText > div:nth-of-type(1) {
	border-bottom: calc(var(--borderWidth) / 2) solid var(--borderColor);;
}

.streamText > .streamTitle {
	font-size: var(--labelSize);
}


.streamerDiv {
	display: flex;
	align-items: center;
}

.streamerDiv:hover {
	color: var(--activeColor);
	background: var(--activeHighlightColor);
}

.streamerDiv input, .streamerDiv label {
	margin: calc(var(--littleLabelSize) / 2);
}

.streamerDiv input:hover, .streamerDiv label:hover {
	cursor: pointer;
}

.streamerDiv > .streamerActive {
	flex: 1;
}

.streamerActive {
	display: flex;
	align-items: center;
	text-align: left;
}

.streamerActiveCheckbox {
	height: var(--littleLabelSize);
	width: var(--littleLabelSize);
}

#recentlylive > .dropdownContent > :not(.live) {
	display: none !important;
}

#addcustomevent form {
	font-size: var(--littleLabelSize);
	padding-top: var(--largeLabelSize);	
	padding-bottom: var(--largeLabelSize);	
	
	margin: 0px;
}

#addcustomevent form:not(:last-child) {
	border-bottom: var(--borderWidth) solid var(--borderColor);
}

#addcustomeventform form > div > div, input, select {
	margin: calc(var(--littleLabelSize) / 2);
}

#settings > .dropdownContent {
	font-size: var(--littleLabelSize);
	text-align: left;
}

#settings > .dropdownContent > div:not(:last-child) {
	border-bottom: var(--borderWidth) solid var(--borderColor);
}

#settings > .dropdownContent > div > div:first-child {
	font-size: var(--labelSize);
}

#settings > .dropdownContent > div {
	padding-top: var(--largeLabelSize);	
	padding-bottom: var(--largeLabelSize);
	
	margin-left: 10px;
	margin-right: 10px;
}

#settings #newData {
	display: none;
}

#settings .material-icons {
	font-size: var(--largeLabelSize);
	padding: calc(var(--littleLabelSize) / 2);
	margin: calc(var(--littleLabelSize) / 2);
	
	border: var(--borderWidth) solid var(--borderColor);
	border-radius: 10px;
}

#settings .material-icons:hover {
	cursor: pointer;
	background: var(--activeHighlightColor);
	color: var(--activeColor);
}
