html {
	--ytChatWidth: 350px;
}

body {
	margin: 0px;
}

#ytChat {
	position: absolute;
	right: 0px;
	
	height: 100%;
	width: var(--ytChatWidth);
	
	border: 0px;
}

#ytVideo {
	position: absolute;
	left: 0px;
	
	height: 100%;
	width: calc(99vw - var(--ytChatWidth));
	
	border: 0px;
}
